<%= render "shared/header" %>

<div>
    <h5>登録済みルーム一覧</h5>
    <table class ="new-main-part">
   <thead>
     <tr>
       <th>ルーム画像</th>
       <th>ルーム名</th>
       <th>ルーム紹介</th>
       <th>料金</th>
       <th>作成日</th>
     </tr>
   </thead>
   <tbody>
     <% @posts.each do |post| %>
     <%= link_to post_path(post) do %>
       <tr>
         <td><%= attachment_image_tag post, :image, format: 'jpeg', size: "100x100" %></td>
         <td><%= post.user.name %></td>
         <td><%#= post.user.introduction %></td>
         <td><%#= post.user.price %></td>
         <td><%= post.user.updated_at.to_s(:datetime2_jp) %></td>
       </tr>
     <% end %>
     <% end %>
   </tbody>
 </table>
</div>
   
<%= render 'shared/footer' %>