<nav class="navbar bg-dark">

  <div class ="header-logo .justify-content-start">
    <%= link_to top_path do %>
      <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="ロゴ画像">
    <% end %>
  </div>

  <div class ="header-sub .justify-content-end">
    <% if user_signed_in? %>
    
<div class="dropdown"> 
  <button id="btnOpenMenu" class="btn btn-primary dropdown-toggle"  
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      メニューを開く
  </button>
  <div class="dropdown-menu" aria-labelledby="btnOpenMenu">
              <button class="dropdown-item" type="button"><%= link_to "トップ", root_path %></button>
              <button class="dropdown-item" type="button"><%= link_to "投稿する", new_post_path %></button>
              <button class="dropdown-item" type="button"><%= link_to "投稿一覧", posts_path %></button>
              <button class="dropdown-item" type="button"><%= link_to "マイページ", user_path(current_user.id) %></button>
              <button class="dropdown-item" type="button"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></button>
 
  </div>
  </div>
    <% else %>
        <div>
           <%= link_to new_user_registration_path do %>
              <h2 class="btn btn-primary mr-2">新規登録</h2>
           <% end %>
           <%= link_to new_user_session_path do %>
              <h2 class="btn btn-success ml-2">ログイン</h2>
           <% end %>
        </div>
    <% end %>
  </div>
</nav>
