<%= render "shared/header" %>

<div class = "container">
  <div class = "row">
    <div class = "detail col-md-8">
      <p class = "img-container"><%= attachment_image_tag @post, :image, format: 'jpeg' %></p>
      <p class = "my-5 font-weight-bold h4"><%= @post.name %></p>
      <p class = "h7 my-4"><%= @post.address %></p>
      <p class = "introduction_show h5 my-5"><%= @post.introduction %></p>
    </div>
    <div class = "col-md-4">
      <div class = "reserve">
        <p class = "h4 mb-4">¥<%= @post.price %>/日</p>
        <div class = "reserve-form">
          <%= form_for [@post, @post.reservations.new] do |f| %>
          <%= f.hidden_field :post_id, value: @post.id %>
            <label for="start_date">開始日</label>
             <%= f.text_field  :start_date,  :class => 'datepicker' %>
            <label for="end_date">終了日</label>
            <%= f.text_field :end_date, :class => 'datepicker' %>
            <label for="person_num">人数</label>
            <%= f.text_field :person_num %>
            <%= f.submit "予約する", class: "btn btn-primary form-control" %> 
            <% end %>
        </div>
      </div>
    </div>
    <div class = "choice">
      <% if @post.user == current_user %>
      <%= link_to '編集する', edit_post_path(@post.id) %><br>
      <%= link_to '削除する', post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div> 
</div>
<%= render 'shared/footer' %>