<div class = "container">
<%= render "shared/header" %>
  <div class = "show">
    <div class = "detail">
      <p class = "image_show"><%= attachment_image_tag @post, :image, format: 'jpeg', size: "750x425" %></p>
      <p class = "name_show"><%= @post.name %></p>
      <p class = "address_show"><%= @post.address %></p>
      <p class = "introduction_show"><%= @post.introduction %></p>
    </div>
    <div class = "reserve">
      <p class = "price_show">¥<%= @post.price %>/日</p>
    </div>
    <div class = "choice">
      <% if @post.user == current_user %>
      <%= link_to '編集する', edit_post_path(@post.id) %><br>
      <%= link_to '削除する', post_path(@post.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
    </div>
  </div> 
  
  <%= render 'shared/footer' %>
  </div>